<form action="/favourites" method="POST">
  <button style="color:white; text-decoration:none;height:30px; width: 150px;  background-color:red; text-align:center;line-height:30px"type="submit">Add to Favourite</button>
  <input type="hidden" name="id" value="<%= home._id%>">
</form>
