<%- include("../partials/head")%>
</head>
<body class="font-sans" style="font-family: 'Inter', sans-serif;">
  <%- include("../partials/nav")%>
  <header class="py-8 text-center">
    <h1 class="text-3xl font-bold text-red-600 mb-2">My Bookings</h1>
    <div class="mx-auto w-24 h-1 bg-red-500 rounded"></div>
  </header>
 
</body>
</html>