<%- include("./partials/head")%>
</head>
<body>
  <header><h1 style="font-size: 2rem;">Error 404 page not found</h1></header>
  <a href="/" style="color: red; font-size: 1.5rem;">Go Back to Home</a>
</body>
</html>