<%- include("../partials/head")%>
</head>
<body class="font-sans" style="font-family: 'Inter', sans-serif;">
    <%- include("../partials/nav")%>
 <h1> Home registered successfully<h1>
    <a href="/"> Go to Home</a>
</body>
</html>